$page.setTitle("美人街")
#set($active = "beautyStreet")
<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">搜索</div>
            <div class="stay_right">
                <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                <input type="submit" value="">
            </div>
            <a href="publish.htm" class="btn_a">发帖子</a>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="container">
    <ul class="beauty_list">
        #foreach($threadDTO in $!topThreads)
        <li class="top">
            <div class="head_pic">
                <img src="/resources/images/icon_top.png" width="34" height="18">
            </div>
            <div class="content" style="height: 47px">
                <p class="title">
                    <a href="thread.htm?threadId=$!threadDTO.id" class="t" target="_self">$!threadDTO.title</a>
                </p>
            </div>
            <span class="data" style="margin-top: -20px;">
                <span class="font_icon">浏览</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.hit</a>
                <span class="font_icon">回复</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.replyCount</a>
                <span class="font_icon">点赞</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.likeCount</a>
            </span>
        </li>
        #end
        #foreach($threadDTO in $!threadDTOs)
        <li class="normal" style="overflow: auto">
            <div class="head_pic head_pic_pop_show">
                <a href="/viewBeauty.htm?userId=$threadDTO.authorId" target="_self">
                    <img src="$threadDTO.userDTO.imagePath" width="46" height="46">
                </a>
            </div>
            <div class="content" style="height: 47px">
                <p class="title">
                    <a href="thread.htm?threadId=$!threadDTO.id" class="t" target="_self">$!threadDTO.title</a>
                </p>
            </div>
            <div class="content" style="margin-left: 54px">
                #if($!threadDTO.imagePaths.size() > 0)
                <div class="pic_box">
                    <ul style="width: 676px;">
                        #foreach($imagePath in $!threadDTO.imagePaths)
                        <li><a href="thread.htm?threadId=$!threadDTO.id" target="_self"><img src="$!imagePath" height="75"></a></li>
                        #end
                    </ul>
                </div>
                #end
                <div class="tag_box">
                    <span class="data">
                        <span class="font_icon">浏览</span>
                        <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.hit</a>
                        <span class="font_icon">回复</span>
                        <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.replyCount</a>
                        <span class="font_icon">点赞</span>
                        <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.likeCount</a>
                    </span>
                    <span class="date">$!threadDTO.lastReplyDate</span>
                </div>
            </div>
        </li>
        #end
        <div id="yw0" class="pages">
            <div id="yw0" class="pages">
                #if($!pageIndex == 1)
                    <a class="hidden" href="/p14574">&lt;</a>
                #else
                    #set($lastPage = $!pageIndex - 1)
                    <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!lastPage">&lt;</a>
                #end
                #foreach($i in [1..$!totalPage])
                    #if($i == $!pageIndex)
                        <a class="on" href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!i">$i</a>
                    #else
                        <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!i">$i</a>
                    #end
                #end
                #if($!pageIndex < $!totalPage)
                    #set($nextPage = $!pageIndex + 1)
                    <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!nextPage">&gt;</a>
                #end
            </div>
        </div>
    </ul>
</div>