#set($dashName = "notification")
<div class="container">
    <div class="dashboard">
        $control.setTemplate('dashList.vm')
        <div style="width: 730px;float: left;margin-left: 50px;">
            <ul class="notice_list">
                #foreach($messageDTO in $messageDTOs)
                    <li class="top" style="background: rgb(255, 255, 255); overflow: auto"
                        onmouseover="this.style.background='#e9f8f7'" onmouseout="this.style.background='#FFF'"
                        onclick="window.open('/notification.act?id=$!messageDTO.id&action=notificationAction&url=$!messageDTO.getFeature("url")', '_self');">
                        <div class="head_pic">
                            <img src="http://img2.soyoung.com/user/20150422/0/20150422132020685_100_100.png" alt=""
                                 width="46" height="46">
                        </div>
                        <span class="time">$!messageDTO.gmtCreate</span>

                        <div class="content_m">
                            <p>
                                <span class="name">$!messageDTO.fromAccount</span>
                                #if($!messageDTO.status == 0)
                                    <span class="name" style="color: #ff0000">(新!)</span>
                                #end
                            </p>

                            <p class="c">$!messageDTO.content</p>
                        </div>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>