#set($dashName = "profile")
<div class="container">
    <div class="dashboard">
        $control.setTemplate('dashList.vm')
    </div>
    #if(!$!isSelf)
        <a href="/messageDetail.htm?toUserId=$!userDTO.id">私信</a>
    #end

</div>