#set($dashName = "profile")
<div class="container">
    <div class="dashboard">
        $control.setTemplate('dashList.vm')
    </div>
    <a href="/messageDetail.htm?toUserId=$!userDTO.id">私信</a>
</div>