$page.setTitle("$threadDTO.title")
#set($active = "beautyStreet")
<script type="text/javascript" src="/resources/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.replyText",
        theme: "modern",
        language: 'zh_CN',
        relative_urls: false,
        plugins: [
            "advlist autolink lists link image charmap preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime nonbreaking save table contextmenu directionality",
            "emoticons paste textcolor colorpicker textpattern jbimages"
        ],
        toolbar1: "insertfile undo redo | bold italic underline strikethrough | " +
        "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | " +
        "styleselect formatselect fontselect fontsizeselect | link image jbimages |preview " +
        "| forecolor backcolor emoticons",
        image_advtab: true,
        autosave_ask_before_unload: false,
        toolbar_items_size: 'small',
        statusbar: false,
        menubar: false,
        scroll: true,
        style_formats: [
            {title: 'Bold text', inline: 'b'},
            {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
            {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
            {title: 'Example 1', inline: 'span', classes: 'example1'},
            {title: 'Example 2', inline: 'span', classes: 'example2'},
            {title: 'Table styles'},
            {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ]
    });

</script>
<script type="text/javascript" language="javascript">
    function iFrameHeight(id) {
        var ifm = document.getElementById(id);
        var subWeb = document.frames ? document.frames[id].document : ifm.contentDocument;
        if (ifm != null && subWeb != null) {
            subWeb.body.style.margin = 0;
            ifm.height = subWeb.body.scrollHeight + 5;
        }
    }

    function checkContent(id) {
        var element = document.getElementById(id);
        if (element.value == "") {
            alert('请填写回复内容');
            return false;
        }
        return true;
    }

    function showCommentDiv(id, textid, name) {
        var element = document.getElementById(id);
        textarea = document.getElementById(textid);
        if(name != null) {
            element.style.display = "";
            textarea.innerHTML = "回复 " + name + ":";
            textarea.focus();
        } else {
            if(element.style.display == "none") {
                element.style.display = "";
                textarea.focus();
            } else if(textarea.innerHTML == ""){
                element.style.display = "none";
            } else {
                textarea.innerHTML = "";
                textarea.focus();
            }
        }
    }

    function addComment(id) {
        document.getElementById(id).submit();
    }
</script>
#macro (displayList $field)
    #if(!$field || $!field.size() == 0)
        display : none;
    #end
#end
<div class="container" style="direction:ltr; unicode-bidi: embed; -webkit-locale: en-US;">
    <ul class="beauty_content_list">
        #if($threadDTO)
            <li class="first_f">
                <div class="head_pic head_pic_pop_show">
                    <a href="http://www.soyoung.com/u654" class="pic" target="_self">
                        <img src="http://img1.soyoung.com/user/2013101815/20131018150204959_100_100.png" width="64"
                             height="64">
                    </a>
                    <a href="http://www.soyoung.com/u654" class="name" target="_self">$!author.account</a>
                </div>
                <div class="content">
                    <!-- 点评的内容 -->
                    <h1 style="font-size: 24px">$!threadDTO.title</h1>
                    <iframe id="threadpage" class="c" onload="iFrameHeight('threadpage')" frameborder="0" scrolling="no"
                            src="$!threadDTO.contentPath">
                    </iframe>
                    <div class="status">
                        <div class="msg">
                            <span class="font_icon">浏览</span><a href="javascript:void(0)">$!threadDTO.hit</a>
                            <span class="font_icon">点赞</span><a href="javascript:void(0)">$!threadDTO.likeCount</a>
                        </div>
                        <div class="date">
                            <span class="floor">1楼</span> <span class="time">$!threadDTO.gmtCreate</span>
                            <a href="#replybox" class="reply_btn">
                                <span class="font_icon">回复</span>$!threadDTO.replyCount</a>
                        </div>
                    </div>
                </div>
            </li>
        #end
        #foreach($replyDTO in $replyDTOs)
            <li>
                <div class="head_pic head_pic_pop_show">
                    <a href="http://www.soyoung.com/u220" class="pic" target="_self">
                        <img src="http://img1.soyoung.com/user/2013082815/20130828153624118_100_100.jpg" width="64"
                             height="64"></a>
                    <a href="http://www.soyoung.com/u220" class="name" target="_self">$!replyDTO.authorAccount</a>
                </div>
                <div class="content">
                    <iframe id="reply_c$!replyDTO.id" class="reply_c" onload="iFrameHeight('reply_c$!replyDTO.id')"
                            frameborder="0" scrolling="no"
                            src="$!replyDTO.contentPath">
                    </iframe>
                    <div class="status">
                        <div class="date">
                            #set($floor = $!replyDTO.floor + 1)
                            <span class="floor">$!floor 楼</span>
                            <span class="time">$!replyDTO.gmtCreate</span>
                            <a href="javascript:void(0)" class="reply_btn" onclick="showCommentDiv('replyarea$!replyDTO.id', 'comment$!replyDTO.id')">
                                <span class="font_icon">回复</span></a>
                        </div>
                    </div>
                    <div class="reply_box">
                        <ul class="list" style="#displayList($replyDTO.subReplyDTOs)">
                            #foreach($subReplyDTO in $!replyDTO.subReplyDTOs)
                            <li>
                                <div class="pic head_pic_pop_show">
                                    <a href="http://www.soyoung.com/u1714481" target="_self"><span class="font_icon">R</span></a>
                                </div>
                                <div class="t">
                                    <a target="_self" href="http://www.soyoung.com/u1714481">$!subReplyDTO.authorAccount</a>:$subReplyDTO.contentPath
                                    <p>$subReplyDTO.gmtCreate
                                        <a href="javascript:void(0)" class="reply_link" onclick="showCommentDiv('replyarea$!replyDTO.id', 'comment$!replyDTO.id', '$!subReplyDTO.authorAccount')">回复</a>
                                    </p>
                                </div>
                            </li>
                            #end
                        </ul>
                        <div class="import">
                            <div class="page_box" style="#displayList($replyDTO.subReplyDTOs)">
                                <a href="javascript:void(0)" class="link" onclick="showCommentDiv('replyarea$!replyDTO.id', 'comment$!replyDTO.id')">我也说一句</a>
                            </div>
                            <div id="replyarea$!replyDTO.id" class="relative" style="display: none">
                                <form id="commentForm$!replyDTO.id" method="post" action="" onsubmit="return checkContent('comment$!replyDTO.id');">
                                    <input type="hidden" name="action" value="replyAction">
                                    <input type="hidden" name="replyType" value="replySub">
                                    <input type="hidden" name="parentId" value="$!replyDTO.id">
                                    <textarea id="comment$!replyDTO.id" name="comment" class="reply_commment_textarea" style="resize: none;"></textarea>
                                </form>
                                <div class="btn_box" style="">
                                    <a href="javascript:void(0)" class="blue_btn" onclick="addComment('commentForm$!replyDTO.id');">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        #end
        <div id="pages" name="pages" class="pages">
            <div id="yw0" class="pages">
                #if($!pageIndex == 1)
                    <a class="hidden" href="/p14574">&lt;</a>
                #else
                    #set($lastPage = $!pageIndex - 1)
                    <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!lastPage">&lt;</a>
                #end
                #foreach($i in [1..$!totalPage])
                    #if($i == $!pageIndex)
                        <a class="on" href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!i">$i</a>
                    #else
                        <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!i">$i</a>
                    #end
                #end
                #if($!pageIndex < $!totalPage)
                    #set($nextPage = $!pageIndex + 1)
                    <a href="/thread.htm?threadId=$!threadDTO.id&pageIndex=$!nextPage">&gt;</a>
                #end
            </div>
        </div>

        <div id="replybox" name="replybox" class="publish" style="float: right">
            <form action="" method="post" onsubmit="tinymce.triggerSave(true);return checkContent('reply');">
                $csrfToken.hiddenField
                <input type="hidden" name="parentId" value="$!threadDTO.id">
                <input type="hidden" name="replyType" value="replyTop">
                <input type="hidden" name="action" value="replyAction">
                <textarea id="reply" name="reply" class="replyText" style="height: 100px"></textarea>
                <input type="submit" value="发布">
            </form>
        </div>
    </ul>
</div>