$page.setTitle("播美人")
#set($active = "topBeauty")
<div class="container">
    <div style="width: 730px;margin-top: 30px;">
        <ul class="notice_list">
            #foreach($userDTO in $userDTOs)
                <li class="top" style="background: rgb(255, 255, 255); overflow: auto"
                    onmouseover="this.style.background='#e9f8f7'" onmouseout="this.style.background='#FFF'"
                    onclick="window.open('/profile.htm?userId=$userDTO.id', '_self');">
                    <div class="head_pic">
                        <img src="http://img2.soyoung.com/user/20150422/0/20150422132020685_100_100.png" alt=""
                             width="46" height="46">
                    </div>
                    <div class="content_m">
                        <p><span class="name">$!userDTO.account</span></p>

                        <p class="c">$!userDTO.email</p>
                    </div>
                    <a href="/messageDetail.htm?toUserId=$userDTO.id" class="btn_b">发私信</a>
                </li>
            #end
        </ul>
    </div>
</div>