$page.setTitle("播美人")
#set($active = "topBeauty")
<div class="meeting"style="width: 300px; margin: 20px 100px 0 0; float: right">
    <div class="left" style="width: 250px;">
        <div class="head_pic">
            <a href="/viewBeauty.htm?userId=$!userDTO.id" target="_self"></a>
            <img src="$!userDTO.imagePath" alt="" width="100" height="100">
        </div>
        <a href="/viewBeauty.htm?userId=$!userDTO.id" class="link" target="_self">
            $!userDTO.account
        </a>
        <div style="width: 200px; overflow: auto; margin-left: auto; margin-right: auto">
            <a href="/messageDetail.htm?toUserId=$userDTO.id" class="btn_b" style="float: left">发私信</a>
            <a href="/createActive.act?userId=$userDTO.id&action=createActiveAction" class="btn_b" style="float: right">面对面</a>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin-top: 50px"></div>
    #if($!threadDTOs)
        <h2>ta的帖子</h2>
    #end
    <ul class="beauty_list">
        #foreach($threadDTO in $!threadDTOs)
            <li class="top">
                <div class="head_pic">
                    <img src="/resources/images/icon_top.png" width="34" height="18">
                </div>
                <div class="content" style="height: 47px">
                    <p class="title">
                        <a href="thread.htm?threadId=$!threadDTO.id" class="t" target="_self">$!threadDTO.title</a>
                    </p>
                </div>
            <span class="data" style="margin-top: -20px;">
                <span class="font_icon">浏览</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.hit</a>
                <span class="font_icon">回复</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.replyCount</a>
                <span class="font_icon">点赞</span>
                <a href="thread.htm?threadId=$!threadDTO.id" target="_self">$!threadDTO.likeCount</a>
            </span>
            </li>
        #end
    </ul>
    <div style="margin-top: 50px"></div>
    #if($!activeDTOs)
        <h2>ta的面对面</h2>
    #end
    #foreach($activeDTO in $!activeDTOs)
        <div class="meeting" onmouseover="this.style.background='#e9f8f7'" onmouseout="this.style.background='#FFF'"
             onclick="window.open('/activeDetail.htm?id=$activeDTO.id', '_self');">
            <div class="left">
                <div class="head_pic">
                    <a href="/viewBeauty.htm?userId=$!activeDTO.ownerDTO.id" target="_self"></a>
                    <img src="$!activeDTO.ownerDTO.imagePath" alt="" width="100" height="100">
                </div>
                <a href="/viewBeauty.htm?userId=$!activeDTO.ownerDTO.id" class="link" target="_self">
                    $!activeDTO.ownerDTO.account
                    <span style="font-size: 10px">(发起者)</span>
                </a>
            </div>
            <ul class="list">
                <li>
                    <div class="t">当前人数：</div>
                    <div class="con">$!activeDTO.count</div>
                </li>
                <li>
                    <div class="t">开始日期：</div>
                    <div class="con">$!activeDTO.startTime</div>
                </li>
                <li>
                    <div class="t">地点：</div>
                    <div class="con">$!activeDTO.address</div>
                </li>
                <li>
                    <div class="t">描述：</div>
                    <div class="con">$!activeDTO.description</div>
                </li>
            </ul>
            #if($!activeDTO.imagePath)
                <div class="right">
                    <div class="head_pic" style="width: 150px; height: 150px;">
                        <a href="/viewBeauty.htm?userId=$!activeDTO.topBeauty.id" target="_self"></a>
                        <img src="$!activeDTO.imagePath" alt="" width="150" height="150" style="border: 0">
                    </div>
                    <a href="/viewBeauty.htm?userId=$!activeDTO.topBeauty.id" class="link" target="_self">
                        $!activeDTO.topBeauty.account
                        <span style="font-size: 10px">(大美照)</span>
                    </a>
                </div>
            #end
        </div>
    #end
</div>