<bomeiren>
	#foreach($userDTO in $!userDTOs)
	<item id="$userDTO.id">
		<userimgurl>$userDTO.imagePath</userimgurl>
		<username>$userDTO.account</username>
		<gender>$userDTO.gender</gender>
		<level>$userDTO.level</level>
		<name>$userDTO.name</name>
		<phone>$userDTO.phone</phone>
		<email>$userDTO.email</email>
	</item>
	#end
</bomeiren>