<message>
	#set ($i=0)
	#foreach($messageDTO in $!messageDTOs)
	<item id="$messageDTO.id">
		<content>$messageDTO.content</content>
		<fromUser id="$messageDTO.fromUserDTO.id">
			<userimgurl>$messageDTO.fromUserDTO.imagePath</userimgurl>
			<username>$messageDTO.fromUserDTO.account</username>
			<gender>$messageDTO.fromUserDTO.gender</gender>
			<level>$messageDTO.fromUserDTO.level</level>
			<name>$messageDTO.fromUserDTO.name</name>
			<phone>$messageDTO.fromUserDTO.phone</phone>
			<email>$messageDTO.fromUserDTO.email</email>
		</fromUser>
		<time>$messageDTO.gmtCreate</time>
		<unread>$unreads.get($i)</unread>
	</item>
	#set($i=$i+1)
	#end
</message>