#set ($i=0)
<tiezi>
	#foreach($threadDTO in $!threadDTOs)
	<item id="$threadDTO.id">
		<title>$!threadDTO.title</title>
		<imageurls>
			#foreach($imagePath in $!threadDTO.imagePaths)
			<url>$!{hostURL}$imagePath</url>
			#end
		</imageurls>
		<content><![CDATA[ $!threadDTO.content ]]></content>
		<username>${userDTOs.get($i).name}，Lv${threadDTO.level}</username>
		<time>$threadDTO.gmtCreate</time>
		<pinglun_num>$threadDTO.replyCount</pinglun_num>
		<liulan_num>$threadDTO.hit</liulan_num>
	</item>
	#set ($i=$i+1)
	#end
</tiezi>