#set ($i=0)
<tiezidetail>
	#foreach($replyDTO in $!replyDTOs)
	<item id="$replyDTO.id">
		<userid>$replyDTO.authorId</userid>
		<username>${replyDTO.authorAccount}</username>
		<userimgurl>$replyDTO.userDTO.imagePath</userimgurl>
		<content>$replyDTO.content</content>
		<time>$replyDTO.gmtCreate</time>
		#foreach($subReplyDTO in $!replyDTO.subReplyDTOs)
		<sub_item id="$subReplyDTO.id">
			<userid>$subReplyDTO.authorId</userid>
			<username>${subReplyDTO.authorAccount}</username>
			<content>$subReplyDTO.contentPath</content>
			<time>$subReplyDTO.gmtCreate</time>
		</sub_item>
		#end
	</item>
	#set ($i=$i+1)
	#end
</tiezidetail>