<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/resources/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/resources/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.useso.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
</head>
    #macro (active $field)
        #if($field == $active)
        class="active"
        #end
    #end
<body>
<div class="header">
    $control.setTemplate('head.vm')
    <div class="h_menu4"><!-- start h_menu4 -->
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li #active("index")><a href="index.htm" data-hover="首页">首页</a></li>
                <li #active("beautyStreet")><a href="beautyStreet.htm" data-hover="美人街">美人街</a></li>
                <li #active("faceToFace")><a href="faceToFace.htm" data-hover="面对面">面对面</a></li>
                <li #active("topBeauty")><a href="topBeauty.htm" data-hover="播美人">播美人</a></li>
            </ul>
        </div>
        <!-- end h_menu4 -->
    </div>
</div>
    $screen_placeholder
</body>
</html>